/* geral */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

/* adicionado por Allysson */
button {
  background-color: #007fff;
}

input {
  background-color: #000;
  color: #fff;
}

.textBox {
  border-radius: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #7a7a7a;
}

/* codigo utilizado no filtro de pesquisa - Allysson */
.invisivel {
  display: none;
}

/* configuração header.php 
.bgNav {
  background-color: #000;
}

.asideNav {
  background-color: #000;
  height: 100%;
}

.logoNav {
  width: 120px;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}*/

/* Conteúdo principal ajustado para a direita para evitar sobreposição 
.main-content {
  margin-left: 395px;
}*/

/* tela de login - Allysson e alteração: Ana*/

.TelaLogin {
  color: #fff;
  background-image: url("../images/background-moblile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  margin-top: -20px;
  margin-bottom: 50px;
}

.textBoxLogin {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.formLogin {
  border: #fff solid 3px;
  padding: 0px 30px;
}

.legenBoxLogin {
  padding: 5px;
}

.legenBoxSenha {
  margin-top: 25px;
  padding: 5px;
}

.textLogin {
  margin: 40px;
}

.esqueciBoxLogin {
  padding: 5px;
  margin-top: 10px;
  font-size: 14px;
}

.botaoLogin {
  background-color: #007fff;
  color: #fff;
  padding: 15px 0;
  border: 0;
  border-radius: 15px;
  margin: 35px;
}

.botaoLogin:hover {
  background-color: #0070e0;
}

/* tela de cadastro de Usuarios/funcionarios - Allysson */

.HCad_Funcionario {
  border: 1px;
  border-color: black;
}

/* tela de visualiza usuários - Allysson */
.TabelaUsuario {
  overflow-x: scroll;
  text-align: center;
}

.btn_visualizar {
  background-color: #007fff;
  color: #fff;
}

/* modal de redefinição de senha - Allysson */
.colorModal {
  color: black;
}

/* Small devices (landscape phones, 576px and up) - Allysson */
/* @media (min-width: 576px) and (max-width: 767.98px) {
    
 } */

/* Medium devices (tablets, 768px and up) - Allysson */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* tela de login */

  .TelaLogin {
    background-image: url("../images/background-tablet.png");
  }
}

/* Large devices (desktops, 992px and up) - Allysson*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* tela de login */

  .TelaLogin {
    background-image: url("../images/background-desktop.png");
  }
  /* tela de visualiza usuários - Allysson*/
  .TabelaUsuario {
    overflow-x: hidden;
  }
}

/* Extra large devices (large desktops, 1200px and up) - Allysson*/
@media (min-width: 1200px) {
  /* tela de login */
  .TelaLogin {
    background-image: url("../images/background-desktop.png");
    background-size: repeat-y;
  }

  /* tela de visualiza usuários - Allysson*/
  .TabelaUsuario {
    overflow-x: hidden;
  }
}

/*Tela Cadastro de Serviço - Ana*/
.campoDigitarCadasServico {
  color: #fff;
  background-color: #000;
  padding: 20px 10px;
}

.campoDigitarCadasServico:focus {
  color: #fff;
  background-color: #000;
}

/* Seletor genérico para browsers modernos */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.botaoCadastroServico {
  background-color: #007fff;
  color: #fff;
  padding: 15px 100px;
  border: 0;
  border-radius: 15px;
  margin: 15px;
}

.botaoCadastroServico:hover {
  background-color: #0070e0;
}

.campoObservacoesCadasServico {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.SelectServicoCadasServico {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.SelectServicoCadasServico option {
  background-color: #fff;
  color: #333;
}

.SelectServicoCadasServico:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/*Tela Home - Ana*/

.cardHome {
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px 5px;
  padding-bottom: 50px;
}

.tituloHome {
  text-align: center;
  font-size: 22px;
  padding-top: 20px;
}

.placaHome {
  background-color: #007fff;
  padding: 13px;
  text-align: center;
}

.todosItensCard {
  margin-top: 10px;
  padding: 20px;
}

.itemCard {
  margin-bottom: 20px;
}

.botaoVerMaisCard {
  background-color: #007fff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
}

.botaoVerMaisCard:hover {
  background-color: #0070e0;
}

.botaoVerMaisServicos {
  background-color: #007fff;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 13px 100px;
  margin: 50px 0;
  cursor: pointer;
}

.botaoVerMaisServicos:hover {
  background-color: #0070e0;
}

.botaoVerMaisServicosConcluidos {
  background-color: #007fff;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 13px 100px;
  margin: 50px 0;
  cursor: pointer;
}

.botaoVerMaisServicosConcluidos:hover {
  background-color: #0070e0;
}

.containerPesquisaHome {
  margin-bottom: 15px;
  margin-top: 30px;
}

.inputPesquisaHome {
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.botaoPesquisaHome {
  padding: 10px 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.botaoPesquisaHome:hover {
  background-color: #000;
}

/* Modal botão ver mais ordem de serviço da tela Home*/
.divHeaderTopoSite {
  padding: 30px 0 12px 0;
  width: 100%;
  border-bottom: 2px solid #000000;
}

.nameHeaderTopoSite {
  padding-left: 30px;
  font-size: 30px;
}

.campoDigitar {
  color: #fff;
  background-color: #000;
  padding: 20px 10px;
}

.campoDigitar:focus {
  color: #fff;
  background-color: #000;
}

.selectStatus {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.selectStatus option {
  background-color: #fff;
  color: #333;
}

.selectStatus:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.SelectServico {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.SelectServico option {
  background-color: #fff;
  color: #333;
}

.SelectServico:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.campoObservacoes {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.botaoSalvarOrdem {
  background-color: #007fff;
  color: #fff;
  padding: 15px 100px;
  border: 0;
  border-radius: 15px;
  margin: 15px;
}

.botaoSalvarOrdem:hover {
  background-color: #0070e0;
}

.botaoFinalizaOrdem {
  background-color: green;
  color: #fff;
  padding: 15px 100px;
  border: 0;
  border-radius: 15px;
  margin: 15px;
}

.botaoFinalizaOrdem:hover {
  background-color: rgb(0, 97, 0);
}

.botaoDeleteOrdem {
  background-color: red;
  color: #fff;
  padding: 15px 100px;
  border: 0;
  border-radius: 15px;
  margin: 15px;
}

.botaoDeleteOrdem:hover {
  background-color: rgb(171, 0, 0);
}

/* Tela cadastro de peças - Julio */
.campodescricaopeca {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.campoPeca {
  color: #fff;
  background-color: #000;
  padding: 20px 10px;
}
.campoPeca:focus {
  color: #fff;
  background-color: #000;
  padding: 20px 10px;
}


/* Tela consulta de peças - Julio */
.cardPeca {
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px 5px;
  padding-bottom: 50px;
  height: 550px;
}

.botaoSalvarPeca {
  background-color: #007fff;
  color: #fff;
  padding: 15px 100px;
  border: 0;
  border-radius: 15px;
  margin: 15px;
}

.botaoSalvarPeca:hover {
  background-color: #0070e0;
}

.botaoDeletePeca {
  background-color: red;
  color: #fff;
  padding: 15px 100px;
  border: 0;
  border-radius: 15px;
  margin: 15px;
}

.botaoDeletePeca:hover {
  background-color: rgb(171, 0, 0);
}

/* Tela Alterar peças - Julio */
.divHeaderAlterar {
  padding: 30px 0 12px 0;
  width: 100%;
  border-bottom: 2px solid #000000;
}

.nameHeaderAlterar {
  padding-left: 30px;
  font-size: 30px;
}

.verMaisPeca {
  background-color: #007fff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
}

.verMaisPeca:hover {
  background-color: #0070e0;
}

.campoDigitarCodPeca {
  color: #fff !important;
  background-color: #000 !important;
  padding: 20px 10px;
}

.campoDigitarCodPeca:focus {
  color: #fff;
  background-color: #000;
}

/*Menu - Ana Clara*/
.main-content {
  margin-left: 295px;
}

.logoNav {
  width: 150px;
}

.divLogoNav {
  padding: 15px 0 19px 0;
  width: 100%;
  margin: 0;
  border-bottom: 2px solid #fff;
}

.navbar-nav {
  width: 280px;
  background-color: #000;
  color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  padding: 10px 20px;
  z-index: 999;
}

.navbar-nav ul {
  list-style-type: none;
  padding-left: 0;
}

.navbar-nav li {
  padding: 10px;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.content {
  flex: 1;
  padding: 20px;
}

.tituloNav {
  padding-top: 30px;
  padding-bottom: 10px;
  color: #007fff;
}

.opcaoNav:hover {
  color: #007fff;
}

.sairNav {
  padding-top: 30px;
}

.sairNav:hover {
  color: #007fff;
}

.navPequeno {
  width: 100%;
  background-color: #000;
  color: #fff;
  position: fixed;
  height: 60px;
  overflow: auto;
  flex-grow: 1;
  padding: 10px 20px;
  z-index: 9;
}

.logoNavPequeno {
  width: 100px;
}

.botaoBars {
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  margin-left: 20px;
  border: 0;
}

.menuPequeno {
  display: none;
}

.fecharMenu {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  padding: 3px 9px;
  z-index: 9999;
}

.divFecharMenu {
  margin-left: 220px;
  display: none;
}

#sidebar.active {
  display: block;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .divHeaderTopoSite {
    margin-top: 50px;
  }

  #sidebar {
    display: none;
  }

  .menuPequeno {
    display: block;
  }

  .divFecharMenu {
    display: block;
  }

  .divLogoNav {
    margin-top: -35px;
  }
}
