/* geral */
body{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: #fff;
    text-decoration:underline;
}



/* tela de login */

.TelaLogin{
    background-image: url("/images/background-moblile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    
}
.textBox{
    border-radius: 10px;
}

.TICar{
    font-family:monospace;
    font-size:xx-large;
}




/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) and (max-width: 767.98px) { } */



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

    /* tela de login */

    .TelaLogin{
        background-image: url("/images/background-tablet.png");
    }

    .TICar{
        font-family:monospace;
        font-size:4rem;
    }
 }



 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
    /* tela de login */
    
    .TelaLogin{
        background-image: url("/images/background-desktop.png");
    }

    .TICar{
        font-family:monospace;
        font-size:4rem;
    }
}




/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
    /* tela de login */
    .TelaLogin{
        background-image: url("/images/background-desktop.png");
    }

    .TICar{
        font-family:monospace;
        font-size:5rem;
    }
}