/* geral */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

input {
  background-color: #000;
  color: #fff;
}

.textBox {
  border-radius: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #7a7a7a;
}

/* configuração header.php */
.bgNav {
  background-color: #000;
}

.asideNav {
  background-color: #000;
  height: 100%;
}

.logoNav {
  width: 120px;
}

/* tela de login - Allysson e alteração: Ana*/

.TelaLogin {
  color: #fff;
  background-image: url("../images/background-moblile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  margin-top: -20px;
  margin-bottom: 50px;
}

.textBoxLogin {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.formLogin {
  border: #fff solid 3px;
  padding: 0px 30px;
}

.legenBoxLogin {
  padding: 5px;
}

.legenBoxSenha {
  margin-top: 25px;
  padding: 5px;
}

.textLogin {
  margin: 40px;
}

.esqueciBoxLogin {
  padding: 5px;
  margin-top: 10px;
  font-size: 14px;
}

.botaoLogin {
  background-color: #007fff;
  color: #fff;
  padding: 15px 0;
  border: 0;
  border-radius: 15px;
  margin: 35px;
}

.botaoLogin:hover {
  background-color: #0070e0;
}

/* tela de cadastro de Usuarios/funcionarios - Allysson */

.HCad_Funcionario {
  border: 1px;
  border-color: black;
}

/* tela de visualiza usuários - Allysson */
.TabelaUsuario {
  overflow-x: scroll;
  text-align: center;
}

/* Small devices (landscape phones, 576px and up) - Allysson */
/* @media (min-width: 576px) and (max-width: 767.98px) {
    
 } */

/* Medium devices (tablets, 768px and up) - Allysson */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* tela de login */

  .TelaLogin {
    background-image: url("../images/background-tablet.png");
  }

  .TICar {
    font-family: monospace;
    font-size: 4rem;
  }
}

/* Large devices (desktops, 992px and up) - Allysson*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* tela de login */

  .TelaLogin {
    background-image: url("../images/background-desktop.png");
  }

  .TICar {
    font-family: monospace;
    font-size: 4rem;
  }

  /* tela de visualiza usuários - Allysson*/
  .TabelaUsuario {
    overflow-x: hidden;
  }
}

/* Extra large devices (large desktops, 1200px and up) - Allysson*/
@media (min-width: 1200px) {
  /* tela de login */
  .TelaLogin {
    background-image: url("../images/background-desktop.png");
    background-size: repeat-y;
  }

  .TICar {
    font-family: monospace;
    font-size: 5rem;
  }

  /* tela de visualiza usuários - Allysson*/
  .TabelaUsuario {
    overflow-x: hidden;
  }
}

/*Tela Ordem de Serviço - Ana*/
.divOrdemServico {
  padding: 30px 0 12px 0;
  width: 100%;
  border-bottom: 2px solid #000000;
}

.nameOrdemServico {
  padding-left: 30px;
  font-size: 30px;
}

.campoDigitar {
  color: #fff;
  background-color: #000;
  padding: 20px 0;
}

.campoDigitar:focus {
  color: #fff;
  background-color: #000;
}

.selectStatus {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.selectStatus option {
  background-color: #fff;
  color: #333;
}

.selectStatus:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.SelectServico {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.SelectServico option {
  background-color: #fff;
  color: #333;
}

.SelectServico:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.campoObservacoes {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.botaoOrdem {
  background-color: #007fff;
  color: #fff;
  padding: 15px 100px;
  border: 0;
  border-radius: 15px;
  margin: 15px;
}

.botaoOrdem:hover {
  background-color: #0070e0;
}

/*Tela Cadastro de Serviço - Ana*/
.campoDigitarCadasServico {
  color: #000;
  background-color: #c7c7c7;
  padding: 20px 0;
}

.campoDigitarCadasServico:focus {
  color: #000;
  background-color: #c7c7c7;
}

.campoObservacoesCadasServico {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c7c7c7;
  color: #000;
}

.SelectServicoCadasServico {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c7c7c7;
  color: #000;
}

.SelectServicoCadasServico option {
  background-color: #fff;
  color: #333;
}

.SelectServicoCadasServico:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
